<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>这个是主页</title>
</head>
<script type="text/javascript" src="/staticfiles/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/staticfiles/js/csrf.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#zx').click(function () {
            location.href = '/logout'

        });
    });

</script>
<body>
{{ user.UserName }},欢迎欢迎,ID是{{ user.UID }}
<input type="button" id="zx" value="注销"/>
</body>
</html>